@import '../../../globalStyles.less';

:host
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;

    margin: 15px;

    p {
        margin: 0;
        font-size: 15px;
    }
}

.Spacer {
    flex-grow: 1;
}

.TravelContainer,
.WorkContainer {
    flex-grow: 1;
    flex-basis: 37%;

    background-color: var(--ContainerColor);
    border-radius: @DefaultContainerRadius;
    padding: 15px;

    .TimeContainer {
        display: flex;
        flex-direction: row;

        margin-top: 10px;
        line-height: 25px;

        .Time {
            font-size: 25px;
        }
    }
}

.TravelContainer {
    .TimeContainer {
        color: var(--FontColorDimm);
    }
}

.SuccessColor {
    color: var(--SuccessColor);
}

.InfoColor {
    color: var(--InfoColor);
}

.WarningColor {
    color: var(--WarningColor);
}

.ErrorColor {
    color: var(--ErrorColor);
}



.TimeButton {
    flex-grow: 1;

    background-color: var(--SuccessColor);
    color: white;

    font-size: 28px;

    cursor: pointer;

    border-style: none;
    border-radius: @DefaultContainerRadius;

    padding: 15px;

    &.Disabled {
        background-color: var(--ContainerColor);
        cursor: not-allowed;
    }
}

.Hide {
    display: none;
}