<ng-container *ngFor="let monthGroup of this.HistoryDaysByMonth; let first = first;">
    <div class="MonthHeader" [class.First]="first">
        <p>{{this.GetMonthNumberByIndex(monthGroup.Timestamp.getMonth())}} {{monthGroup.Timestamp.getFullYear()}}</p>
        <div class="Spacer"></div>
        <mat-icon (click)="this.ExportAsCsv()"
            aria-hidden="false"
            aria-label="export csv"
            fontIcon="download"></mat-icon>
    </div>
    <div class="DaysContainer">
        <div *ngFor="let historyDay of monthGroup.WorkDays"
            class="WorkDayContainer"
            (click)="this.DeleteWorkDayEntry(historyDay.Date);">
            <div class="DayColumn">
                <p>{{this.GetWeekDayNameByIndex(historyDay.Date.getDay()).substring(0, 2)}}.</p>
                <p class="Number">{{historyDay.Date.getDate()}}</p>
            </div>
            <div class="TimeRanges">
                <p class="WorkTime">
                    <span *ngIf="historyDay.StartWork">{{this.FormatDate(historyDay.StartWork, "HH:mm")}}</span>
                    <span> - </span>
                    <span *ngIf="historyDay.EndWork">{{this.FormatDate(historyDay.EndWork, "HH:mm")}}</span>
                </p>
                <p class="TransferTime">
                    <span *ngIf="historyDay.StartToWork">{{this.FormatDate(historyDay.StartToWork, "HH:mm")}}</span>
                    <span> - </span>
                    <span *ngIf="historyDay.EndToWork">{{this.FormatDate(historyDay.EndToWork, "HH:mm")}}</span>
                    <span> > </span>
                    <span *ngIf="historyDay.StartToHome">{{this.FormatDate(historyDay.StartToHome, "HH:mm")}}</span>
                    <span> - </span>
                    <span *ngIf="historyDay.EndToHome">{{this.FormatDate(historyDay.EndToHome, "HH:mm")}}</span>
                </p>
            </div>
            <div>
                <p class="Time">{{this.GetWorkTimeSum(historyDay, -45 * 60 * 1000).TimeString}}</p>
                <p class="OverTime"
                    [ngClass]="{ 'InfoColor': this.GetWorkTimeSum(historyDay).MillisecondsOvertime < 0,
                                 'SuccessColor': this.GetWorkTimeSum(historyDay).MillisecondsOvertime > 0,
                                 'WarningColor': this.GetWorkTimeSum(historyDay).MillisecondsOvertime > 2 * 60 * 60 * 1000,
                                 'ErrorColor': this.GetWorkTimeSum(historyDay).MillisecondsOvertime > 4 * 60 * 60 * 1000 }">
                    {{this.GetWorkTimeSum(historyDay).OverTimeStirng}}
                </p>
            </div>
        </div>
    </div>
</ng-container>