@import '../../../globalStyles.less';

:host
{
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;

    overflow: auto;
}

.Spacer {
    flex-grow: 1;
}

p {
    margin: 0;
}

.MonthHeader {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;

    mat-icon {
        cursor: pointer;
    }
}

.DaysContainer {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.WorkDayContainer {
    display: flex;
    flex-direction: row;

    gap: 15px;

    padding: 10px;

    background-color: var(--ContainerColor);
    border-radius: @DefaultContainerRadius;

    .DayColumn {
        text-align: center;

        .Number {
            font-size: 24px;
        }
    }

    .TimeRanges {
        flex-grow: 1;

        .TransferTime {
            margin-top: 3px;
            color: var(--FontColorDimm);
        }
    }

    .Time {
        font-size: 24px;
        margin-bottom: 3px;
    }
}

.SuccessColor {
    color: var(--SuccessColor);
}

.InfoColor {
    color: var(--InfoColor);
}

.WarningColor {
    color: var(--WarningColor);
}

.ErrorColor {
    color: var(--ErrorColor);
}