@DefaultContainerRadius: 10px;

// Dieses Dictionary gibt die Farben von der Anwendung vor.
// Es wird beim Compilieren als CSS-Variablen an den Body gehängt.
// Beim Verwenden vom Darkmode werden die CSS-Variablen mit @DarkColorPallet überschrieben.
// Wenn die CSS-Variablen verwendet werden muss man sich also in der Anwendung keine Gedanken
// Um den Darkmode machen, die Farbe in der Variable automatisch geändert wird.
@BrightColorPallet: {
    // Die Farbe vom der Schrift
    FontColor: black;
    // Die Farbe von ausgebleichter Schrift
    FontColorDimm: #727272;

    // Die Farbe vom Hintergrund von der Webseite
    BackgroundColor: #EAEAEA;
    // Die Farbe vom Containern, welche direkt über dem Seitenhintergrund sind.
    ContainerColor: #FFFFFF;

    // Farben für Nachrichten
    SuccessColor: #007502;
    InfoColor: #1848dd;
    WarningColor: #bb9100;
    ErrorColor: #d50000;
}

// Dieses Dictionary gibt die Farben von der Anwendung im Darkmode vor.
// Nähere Infromationen siehe: @BrightColorPallet.
@DarkColorPallet: {
    FontColor: white;
    FontColorDimm: #727272;

    BackgroundColor: #000000;
    ContainerColor: #101010;

    SuccessColor: #007502;
    InfoColor: #1848dd;
    WarningColor: #bb9100;
    ErrorColor: #860000;
}